.App {
  text-align: center;
  font-family: "Press Start 2P";
  background-color: #282c34;
}

.menu-game-toggle {
  background-color: white;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.board
{
	width: 600px;
	height: 600px;
	margin: 0 auto;
  background-color: #C0C0C0;
  color: #fff;
  border: 6px solid #FF6666;
  border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell
{
  border: 6px solid #FF6666;
  border-radius: 2px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
}
